    * {
    font-family: "Arial";
}

#registerButton {
    -fx-background-color: #009900;
    -fx-text-fill: #ffffff;
}

#registerButton:hover {
    -fx-background-color: #00af00;
}

#registerButton:pressed {
    -fx-background-color: #008d00;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #009900;
    -fx-border-width: 0px 0px 2px 0px;
}

.date-picker {
    -fx-background-color: transparent;
}

.date-picker .arrow-button {
    -fx-background-color: transparent;
}

.date-picker .arrow-button:hover {
    -fx-background-color: #f7f7f7;
}

.date-picker .arrow-button:pressed {
    -fx-background-color: #d4d4d4;
}